<!doctype html>
<title>Buzzwords</title>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" title="Default Style">
</head>
<body>
  <div class="col1">
    <h1>CRAP</h1><h2>Camera Roll Augmented Projections</h2>

    <br />
    <img class="diagram" src="{{ url_for('static', filename='sfm.jpg') }}" width="370px"/>
  </div>
  <div class="col2">
    <form class="form" method=post enctype=multipart/form-data>
      <div class="upload-btn-wrapper">
        <div>
        <input type=file name=file multiple="">
        </div>
        <div>
        <input class="btn" type=submit value=Upload>
        </div>
      </div>
    </form>
  </div>
</body>
